# Things to always exclude
global-exclude .git*
global-exclude .ipynb_checkpoints
global-exclude *.py[co]
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
exclude Makefile

# Top-level config
include MANIFEST.in
include LICENSE
recursive-include tests *
recursive-include src *.typed
recursive-include src *.csv
recursive-exclude examples *.ipynb

# Always include
global-include *.pyx
global-include *.c